<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">Please take a look at my portfolio items below, a collection of my most recent work using
    some of my favourite technologies, including Ruby, Ruby on Rails, Bootstrap, HTML, CSS and Javascript.</p>
    <p>
      <%= link_to "Find out more about me", about_me_path, class: "btn btn-primary" %>
      <%= link_to "My Blog", blogs_path, class: "btn btn-secondary" %>
    </p>
  </div>
</section>
