<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-md-3 pages-container">
        <h1>About Me</h1>
        <p class="profile-pic"><%= image_tag("profile.jpg", width: "180", alt: "Profile Picture") %></p>

        <div class="skills">
          <% @skills.each do |skill| %>
              <h6><%= skill.title %></h6>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped bg-dark"
                  role="progressbar"
                  aria-valuenow="<%= skill.percent_utilised %>"
                  aria-valuemax="100"
                  style="width: <%= skill.percent_utilised %>%"
                ></div>
              </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-9 about-block">
        <p>As an experienced former Marketing professional working within Telecommunications and Systems Integration,
        the highlight of my job had always been collaborating with software development teams to ensure front-end
        and back-end scripts incorporated all marketing requirements with the highest level of accuracy, efficiency
        and integrity. However, the ability to actually write the code that executed my ideas had always been one of
        my greatest desires.</p>

        <p>Enrolling in an intensive programming course at Maker’s Academy in London provided the perfect
        opportunity to fulfil this longstanding aspiration. I've been coding ever since then, harnessing my skills and further
        advancing my aptitude for software development.</p>

        <p>
          <button class="btn btn-secondary cv-btn" data-toggle="collapse" href="#skills" role="button" aria-expanded="false" aria-controls="skills">
            Skills
          </button>
          <button class="btn btn-secondary cv-btn" type="button" data-toggle="collapse" data-target="#education" aria-expanded="false" aria-controls="education">
            Education
          </button>
          <button class="btn btn-secondary cv-btn" type="button" data-toggle="collapse" data-target="#experience" aria-expanded="false" aria-controls="experience">
            Experience
          </button>
          <button class="btn btn-secondary cv-btn" type="button" data-toggle="collapse" data-target="#interests" aria-expanded="false" aria-controls="interests">
            Interests
          </button>
        </p>

        <div class="collapse" id="skills">
          <div class="card card-body">
            <strong>Excellent Communicator</strong>
            <p>I’m highly adept at communicating and connecting with people from various diverse backgrounds, cultures and skill sets. As Head of Marketing for a tech track 100 global telecommunications company, my work involved collaborating and effectively communicating with major international carrier partners from every continent, from AT&T to Tata and Globacom, in addition to being chosen as UK service integration partner of choice for Chinese hardware giant ZTE. My role was also integral to the product developments of our B2C telephony and broadband products, requiring immense communication and co-ordination with various different business units to ensure smooth product launches. My ability to explain things in an easy to understand manner to accommodate co-workers of varying levels of aptitude, along with my personable approach and conflict mediation skills, always culminated in successful product launches.</p>

            <strong>Pro-active Problem Solver</strong>
            <p>I reap great reward and motivation through the challenge of solving problems of all kinds whilst also taking into account realistic constraints such as timeframes and budgets. My inherent desire to disassemble problems through logical and systematic thinking combined with my unwavering perseverance allows me to conquer complex challenges and create innovative solutions. This has allowed me to always refine and improve business processes and consistently maintain competitive advantage.</p>

            <strong>Team Player</strong>
            <p>I have a collaborative approach to problem solving and have vast experience working with different departments across a business unit from Software Development, Finance, Sales and Legal. I welcome the process of continuous review and redefinition with the help and guidance of others, and believe this approach is essential to increasing the quality, efficiency and accuracy of any output.</p>
          </div>
        </div>

        <div class="collapse" id="education">
          <div class="card card-body">
            <strong>Makers Academy (January 2018 to March 2018)</strong>
            Curriculum included:
            <ul>
              <li>OOP, TDD/BDD, MVC</li>
              <li>Agile/XP</li>
              <li>Ruby, Rails, JavaScript, HTML, CSS</li>
              <li>SQL, PostgreSQL, DataMapper, Sinatra</li>
              <li>Rspec, Capybara</li>
            </ul>

            <p><strong>London School of Economics and Political Science (2002-2006)</strong></p>

            <p><strong>St. Paul's Girls' School (2000-2002)</strong></p>
          </div>
        </div>

        <div class="collapse" id="experience">
          <div class="card card-body">
            <strong>Vovida Networks (February 2017 to May 2019)</strong>
            <p>Head of Marketing</p>

            <strong>Self-Employed (January 2013 to February 2017)</strong>
            <p>Marketing Consultant</p>

            <strong>Tutis Point (June 2010 to January 2013)</strong>
            <p>Head of Marketing</p>

            <strong>United Networks (September 2006 to June 2010)</strong>
            <p>Marketing Manager</p>
          </div>
        </div>

        <div class="collapse" id="interests">
          <div class="card card-body">
            Yoga, Cooking, Science, Travel
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
